/*
.tab-button {
    border: none;
}

.tab-button ion-tab-button ion-icon{
    font-size: 24px;
}


.rounded-tab-button {
    background: #16A59C;
    color: white;
    width: 60px;
    height: 100%;
    border-radius: 50%;
}
*/